<div id="roomSize" class="col-sm-6">
        <h1><span>Room</span></h1>
        <form name="roomForm" class="col-sm-12" novalidate>
            <div class="col-sm-12">
                <p>Please enter the size of the room you are flooring below.</p>
            </div>
            <div class="col-sm-12">
                <img class="col-lg-6" src="images/room.png">
            </div>
            <div id="roomLength" class="col-sm-4">
                <h4>Length</h4>
                <div class="form-group">
                    <label class="col">Ft</label>
                    <input type="text" size=4 name="lengthFt" ng-model="lengthFt" />
                </div>
                <div class="form-group">
                    <label>In</label>
                    <input type="text" size="4" name="lengthInches" ng-model="lengthInches" required/>
                </div>
            </div>
            <div id="roomWidth" class="col col-sm-4">
                <h4>Width</h4>
                <div class="form-group">
                    <label>Ft</label>
                    <input type="text" size=4 ng-model="widthFt"/>
                </div>
                <div class="form-group">
                    <label>In</label>
                    <input type="text" size=4 ng-model="widthInches" required/>
                </div>
            </div>
            <div class="col col-sm-12">
                <div ng-if="roomSqft() > 0" >
                    <p>The total square feet of this room is {{roomSqft(lengthFt,lengthInches, widthFt, widthInches) | setDecimal:2}} sqft</p>
                </div>
            </div>
    </form>
</div>
