<div class="row">
    <div class="col-sm-12">
        <room></room>
        <div class="col-sm-6">
            <h1><span>Tile</span></h1>
            <form name="triForm" class="form-horizontal col-lg-12" novalidate>
                <div class="col-sm-12">
                    <p>Please enter the size of the tile below.</p>
                </div>
                <div class="col-sm-12">
                    <img src="images/triangle.png">
                </div>
                <div id="" class="col-sm-4">
                    <h4>Height</h4>
                    <div class="form-group">
                        <label>Ft</label>
                        <input type="text" size=4 ng-model="triHtFt" required/>
                    </div>
                    <div class="form-group">
                        <label>In</label>
                        <input type="text" size=4 ng-model="triHtInch" required/>
                    </div>
                </div>
                <div id="" class="col-sm-4">
                    <h4>Base</h4>
                    <div class="form-group">
                        <label>Ft</label>
                        <input type="text" size=4 ng-model="triBaseFt" required/>
                    </div>
                    <div class="form-group">
                        <label>In</label>
                        <input type="text" size=4 ng-model="triBaseInch" required/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Waste %</label>
                        <input type="text" size=4 ng-model="triWaste">
                    </div>
                    <div class="form-group">
                        <label>Tile $</label>
                        <input type="text" size=4 ng-model="triPrice">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button ng-disabled="triForm.$invalid" type="button"   data-toggle="modal" data-target="#triModal" class="btn btn-primary" value="Calculate">Tiles Needed</button>
                    <span ng-hide="triForm.$invalid" ng-if="triSqft() > 0"> This tile covers {{triSqft() | setDecimal: 2}} sqft </span>
                </div>
            </form>
        </div>
    </div>
</div>
<tri-Modal></tri-Modal>
