<div id="recModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span type="button" class="close" data-dismiss="modal">&times;</span>
                <div id="modalTile"><h2 class="modal-title">Tile Calculation</h2></div>
            </div>
            <div class="modal-body" class="col-lg-12">
                <div ng-if="roomSqft()/recTileSqft() > 0">
                    <p>Without any waste tiles, it will take {{(roomSqft()/recTileSqft() | setDecimal:0)}} tiles to complete this Job.</p>
                </div>
                <div ng-if="recWaste > 0">
                    <p>It will take {{(roomSqft()/recTileSqft())*((recWaste / 100) + 1) | setDecimal:0}} tiles to complete this job. This includes {{recWaste}}% Waste.</p> 
                </div>
                <div ng-if="recTileSqft() > roomSqft()">
                    <p>1 tile this size will get the job done! </p>
                </div>
                <div ng-if="recPrice > 0">
                    <p>This project will cost <span ng-if="(roomSqft()/recTileSqft())>1">${{(roomSqft()/recTileSqft())*recPrice | setDecimal:2}} 
                        </span> <span ng-if="(roomSqft()/recTileSqft()) < 1"> {{recPrice | currency}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>