#wrapper {
	background-color: #FFFFFF;
    border: 5px;
    border-style: solid;
    background-image: url("images/tileBackground2.png");
}

header{font-size: 50px; text-align: center}

#roomWidth { padding: 10px}
#roomLength{ padding: 10px}

p {text-align: center;}
#recTileLength {
    padding: 10px;
}
#recTileWidth {
    padding: 10px;
}
h1 { text-align: center; color: red;}
form { padding: 10px;
border: 5px;
border-color: brown;}
nav {text-align: center}
#modalTile { text-align: center}